p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color: white;
	text-shadow: 2px 2px navy;
	background-color: #7f7fcf;
}

h2 {
	font-family: cursive;
	color: #3f3faf;
	margin: 5px;
	background: linear-gradient(white, #ffefaf);
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #f1f1f1;
  }

input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
