p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color: white;
	text-shadow: 2px 2px navy;
	background-color: #7f7fcf;
}

h2 {
	font-family: cursive;
	color: #3f3faf;
	margin: 5px;
	background: linear-gradient(white, #ffefaf);
}

select {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: cursive, sans-serif;
    outline: 0;
    background: #cac0ee;
    color: #fff;
    border: 1px solid rgb(98, 73, 240);
    padding: 4px;
    border-radius: 9px;
  }
  div.zentai {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 200px 200px;
	grid-gap: 10px;
	width: 1024px;
}

div.zentai > div {
	padding: 5px;
	background-color: #afc8ff;
}

