p {
	color: rgb(241, 255, 47);
}
h1 {
	color: white;
	text-shadow: 2px 2px green;
	background-color: #00f7c5;
    border-bottom-style: groove;
}
h2 {
	color: white;
	text-shadow: 2px 2px navy;
	background-color: #7f7fcf;
}
div.zentai {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 400px 400px;
	grid-gap: 20px;
	width: 1024px;
}

div.zentai > div {
	padding: 5px;
	background-color: #afc8ff;
}