body{
	background-color: rgb(206, 228, 254);
}
p {
	color: rgb(0, 100, 0);
}
h3{
	color:black;
}
h1 {
	color: white;
	text-shadow: 2px 2px green;
	background-color: #00f7c5;
    border-bottom-style: groove;
}
h2 {
	color: white;
	text-shadow: 2px 2px navy;
	background-color: #7f7fcf;
}
div.zentai {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 400px 400px;
	grid-gap: 20px;
	width: 1024px;
}
div.zentai > div {
	padding: 5px;
	background-color: #afc8ff;
}
a:link {
	color: rgb(25, 255, 128);
}

a:visited {
	color: rgb(123, 0, 255);
}

a:hover {
	text-decoration: none;
}
.box{
	border: 1px solid navy;
	width: 100px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}