h1{
    color: rgb(255, 255, 255);
	text-shadow: 2px 2px rgb(0, 0, 0);
	background-color: #7f7fcf;
}
h2{
    color:aquamarine
}
h3 {
	font-family: system-ui;
	color: #3f3faf;
	margin: 5px;
	background: linear-gradient(white, #ffefaf);
}
div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 200px 200px;
	grid-gap: 10px;
	width: 1024px;
}

div#zentai > div {
	padding: 5px;
	background-color: #0ff00b;
}