p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color: white;
	text-shadow: 2px 2px navy;
	background-color: #7f7fcf;
}

h2 {
	color: #3f3faf;
	border: solid 1px black;
	margin: 5px;
	background: linear-gradient(white, #ffefaf);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px;
	grid-column-gap: 10px;
	width: 1024px;
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}

img.firefox {
	float: right;
}
